<div class="w-full h-full flex justify-content-center">
  <div ariaLabel="footer" class="flex flex-row items-center gap-6 pb-3 px-6 pt-2 mb-1 rounded-full border-2 border-surface-500 justify-content-center w-fit bottom-menu ">
    @for (page of items; track $index) { 
        @switch (page.type) {
            @case ('note') {
                <p-speed-dial direction="up">
                    <ng-template #button let-toggleCallback="toggleCallback">
                        <button routerLink="/note" pButton [ariaLabel]="page.label | translate" [icon]="page.icon" [rounded]="true" (click)="toggleCallback($event)" ></button>
                        <a routerLink="/note">
                        </a>
                    </ng-template>
                </p-speed-dial> 
            }
            @case ('event') {
                <div class="relative">
                    <p-speed-dial [ariaLabel]="page.label | translate" [(visible)]="isSpeedDialVisible" [style]="{ position: 'absolute', left: 'calc(50% - 1.3rem)', bottom: 'calc(50% - 1.5rem)' }" [model]="noteItems" direction="up">
                        <ng-template #item let-item let-toggleCallback="toggleCallback">
                            <p-button [ariaLabel]="item.id" [styleClass]="isSpeedDialVisible ? '!border-2 !border-primary-200' : '!hidden'"  rounded="true" [icon]="item.icon"></p-button>
                        </ng-template>
                    </p-speed-dial>
                </div>
                    
            }
            @case ('tomato') {
                <p-speed-dial direction="up">
                    <ng-template #button let-toggleCallback="toggleCallback">
                        <button routerLink="/pomodoro" pButton [ariaLabel]="page.label | translate" [icon]="page.icon" [rounded]="true" (click)="toggleCallback($event)" ></button>
                        <a routerLink="/pomodoro">
                        </a>
                    </ng-template>
                </p-speed-dial>
            }
        }
    }
  </div>
</div>
