<div class="w-full h-full flex justify-content-center">
  <div class="flex flex-row items-center gap-6 pb-3 px-6 pt-2 mb-1 rounded-full border-2 border-surface-500 justify-content-center w-fit bottom-menu ">
    @for (item of items; track $index) { 
        @switch (item.type) {
            @case ('note') {
                <p-speed-dial direction="up">
                    <ng-template #button let-toggleCallback="toggleCallback">
                        <button pButton [icon]="item.icon"  [rounded]="true" (click)="toggleCallback($event)" ></button>
                    </ng-template>
                </p-speed-dial> 
            }
            @case ('event') {
                <div class="relative">
                    <p-speed-dial [(visible)]="isSpeedDialVisible" [style]="{ position: 'absolute', left: 'calc(50% - 1.3rem)', bottom: 'calc(50% - 1.5rem)' }" [model]="items" direction="up">
                        <ng-template #item let-item let-toggleCallback="toggleCallback">
                            <button [class]="isSpeedDialVisible ? '!border-2 !border-primary-200' : '!hidden'" pButton rounded="true" [icon]="item.icon"></button>
                        </ng-template>
                    </p-speed-dial>
                </div>
                    
            }
            @case ('tomato') {
                <p-speed-dial direction="up">
                    <ng-template #button let-toggleCallback="toggleCallback">
                        <button pButton [icon]="item.icon" [rounded]="true" (click)="toggleCallback($event)" ></button>
                    </ng-template>
                </p-speed-dial>
            }
        }
    }
  </div>
</div>
