<div class="w-full h-full flex justify-content-center">
  <div
    ariaLabel="footer"
    class="flex flex-row items-center gap-4 pb-3 px-6 pt-2 mb-1 rounded-full border-2 border-surface-500 justify-content-center w-fit bottom-menu"
  >
    @for (page of items; track $index) { @switch (page.type) { @case ('note') {
    <p-speed-dial [pTooltip]="page.desc | translate" direction="up">
      <ng-template #button let-toggleCallback="toggleCallback">
        <button
          routerLink="/note"
          pButton
          [ariaLabel]="page.label | translate"
          [icon]="page.icon"
          [rounded]="true"
          (click)="toggleCallback($event)"
        ></button>
        <a routerLink="/note"> </a>
      </ng-template>
    </p-speed-dial>
    } @case ('project') {
    <p-speed-dial [pTooltip]="page.desc | translate" direction="up">
      <ng-template #button let-toggleCallback="toggleCallback">
        <button
          [routerLink]="page.route"
          pButton
          [ariaLabel]="page.label | translate"
          [icon]="page.icon"
          [rounded]="true"
          (click)="toggleCallback($event)"
        ></button>
        <a [routerLink]="page.route"> </a>
      </ng-template>
    </p-speed-dial>

    } @case ('tomato') {
    <p-speed-dial
      [pTooltip]="page.desc | translate"
      direction="up"
      tooltipPosition="left"
    >
      <ng-template #button let-toggleCallback="toggleCallback">
        <button
          routerLink="/pomodoro"
          pButton
          [ariaLabel]="page.label | translate"
          [icon]="page.icon"
          [rounded]="true"
          (click)="toggleCallback($event)"
        ></button>
        <a routerLink="/pomodoro"> </a>
      </ng-template>
    </p-speed-dial>
    } @case ('home') {
    <p-speed-dial
      [pTooltip]="page.desc | translate"
      tooltipPosition="left"
      direction="up"
    >
      <ng-template #button let-toggleCallback="toggleCallback">
        <button
          [routerLink]="page.route"
          pButton
          [ariaLabel]="page.label | translate"
          [icon]="page.icon"
          [rounded]="true"
          (click)="toggleCallback($event)"
        ></button>
        <a [routerLink]="page.route"> </a>
      </ng-template>
    </p-speed-dial>
    } } }
  </div>
</div>
