<div class="flex flex-col gap-3 justify-center">
  <form class="flex flex-col gap-3" [formGroup]="taskFormGroup">
    <div class="flex flex-col">
      <label>{{ "enterName" | translate }}</label>
      <input type="text" pInputText formControlName="name" />
    </div>
    <div class="flex flex-col">
      <label>{{ "enterInput" | translate }}</label>
      <textarea rows="5" cols="30" pTextarea formControlName="input"></textarea>
    </div>

    <div class="flex flex-row gap-3">
      <div class="flex-1 flex items-end">
        <p-togglebutton
          formControlName="isMilestone"
          [onLabel]="'isMilestone' | translate"
          [offLabel]="'isNotMilestone' | translate"
          [onIcon]="'pi pi-check'"
          offIcon="pi pi-times"
          styleClass="w-full flex-1"
        />
      </div>

      <div class="flex-1">
        <label>{{ "selectRange" | translate }}</label>
        <p-datepicker
          formControlName="range"
          appendTo="body"
          selectionMode="range"
          [minDate]="timeMachine.today()"
          dateFormat="dd/mm/yy"
          styleClass="w-full"
        />
      </div>
    </div>
    <div class="flex flex-row gap-3">
      <div class="flex-1 h-full">
        <label>{{ "isLinkedTask" | translate }}</label>
        <p-listbox
          formControlName="linkedTask"
          showToggleAll="false"
          [options]="tasks"
          optionLabel="name"
          optionValue="id"
          [multiple]="true"
          [checkbox]="true"
          styleClass="w-full h-full"
        >
          <ng-template #empty>
            <div class="py-3 h-full">
              {{ "emptyList" | translate }}
            </div>
          </ng-template>
        </p-listbox>
      </div>
      <div class="flex-1">
        <label>{{ "assignee" | translate }}</label>
        <p-listbox
          formControlName="authors"
          showToggleAll="false"
          [options]="members"
          [multiple]="true"
          [checkbox]="true"
          styleClass="w-full"
        />
      </div>
    </div>
  </form>
  <div class="flex flex-row gap-3 justify-end">
    <p-button
      [loading]="loading"
      [disabled]="taskFormGroup.invalid"
      (click)="confirmAction.emit()"
      >{{ "confirmBtn" | translate }}</p-button
    >
    <p-button
      [disabled]="loading"
      severity="danger"
      (click)="taskFormGroup.reset()"
      >Reset</p-button
    >
  </div>
  
</div>