<p-menubar #menu styleClass="" [model]="items">
  <ng-template #start>
    <div class="flex flex-row gap-3 items-center">
      <a class="" routerLink="/home">
        <img
          class="cursor-pointer xm:w-full min-w-[90px]"
          ngSrc="selfie-logo-{{
            themeService.isDarkMode() ? 'light' : 'dark'
          }}.png"
          width="150"
          height="57.3"
          alt="SELFIE"
          priority
        />
      </a>

      <p-button
        (onClick)="toggleDialog()"
        [rounded]="true"
        variant="text"
        size="large"
      >
        <span class="text-center text-sm md:text-base text-nowrap">
          {{ timeMachine.today()?.toLocaleDateString() }}
          <i class="pi pi-calendar text-sm md:text-base"></i>
        </span>
      </p-button>
    </div>
  </ng-template>
  <ng-template #item let-item let-root="root">
    <a pRipple class="flex items-center p-menubar-item-link">
      <span>{{ item.label }}</span>
    </a>
  </ng-template>
  <ng-template #end>
    <div class="flex items-center justify-content-end gap-2">
      <p-avatar
        (click)="profile.toggle($event)"
        shape="circle"
        class="cursor-pointer"
        size="large"
        styleClass="!object-cover"
        [image]="sessionService.profilePictureUrl"
        [label]="
          sessionService.profilePictureUrl
            ? undefined
            : sessionService.getSession()?.user?.firstName?.substring(0, 1)
        "
      ></p-avatar>
      <p-toggleswitch class="lg:inline-flex hidden" [(ngModel)]="checked">
        <ng-template #handle let-checked="checked">
          <i [ngClass]="['!text-xs', 'pi', checked ? 'pi-moon' : 'pi-sun']"></i>
        </ng-template>
      </p-toggleswitch>
    </div>
  </ng-template>
</p-menubar>

<p-popover #profile [appendTo]="menu">
  <ul class="list-none text-center" (click)="profile.toggle($event)">
    @for (option of options; track $index) {
    <li
      class="rounded cursor-pointer hover:!bg-surface-500 px-2 py-1"
      (click)="option.action()"
    >
      {{ option.name | translate }}
    </li>
    }
    <li
      class="rounded px-3 text-rose-500 cursor-pointer hover:!bg-rose-500 hover:text-primary-contrast"
      (click)="sessionService.signOut()"
    >
      {{ "nav.signOut" | translate }}
    </li>
  </ul>
</p-popover>

<p-dialog
  #dialog
  [(visible)]="isDialogOpened"
  (onHide)="resetForm()"
  modal="true"
  position="top"
  styleClass="px-5 md:w-1/2"
>
  <ng-template #header>
    <h3 class="text-xl">Time Machine</h3>
  </ng-template>
  <div class="flex flex-col justify-center gap-3">
    <label for="picker">{{ "actualTime" | translate }}</label>
    <p-date-picker
      id="picker"
      fluid="true"
      dateFormat="dd/mm/yy"
      [(ngModel)]="today"
      [appendTo]="dialog"
    />
    <div
      class="w-full flex md:flex-row md:justify-end flex-col-reverse justify-center gap-3"
    >
      <p-button severity="secondary" fluid="true" (onClick)="toggleDialog()">{{
        "back" | translate
      }}</p-button>
      <p-button severity="danger" fluid="true" (onClick)="resetTime()"
        >Reset</p-button
      >
      <p-button severity="primary" fluid="true" (onClick)="setTime()">{{
        "save" | translate
      }}</p-button>
    </div>
  </div>
</p-dialog>
