<p-menubar [model]="items">
  <ng-template #start>
    <div class="flex flex-row gap-4 items-center">
      <p-image
        class="lg:inline hidden cursor-pointer"
        src="selfie-logo-{{ themeService.isDarkMode() ? 'light' : 'dark' }}.png"
        width="100"
      />
      <span class="text-center text-sm md:text-base text-nowrap">
        {{ today.toLocaleDateString() }}
        <i class="pi pi-calendar text-sm md:text-base"></i>
      </span>
    </div>
  </ng-template>
  <ng-template #item let-item let-root="root">
    <a pRipple class="flex items-center p-menubar-item-link">
      <span>{{ item.label }}</span>
    </a>
  </ng-template>
  <ng-template #end>
    <div class="flex items-center justify-content-end gap-2">
      <input
        class="w-8 h-1/2"
        size="small"
        type="text"
        pInputText
        placeholder="Search"
      />
      <p-avatar
        (click)="profile.toggle($event)"
        shape="circle"
        class="cursor-pointer"
        label="P"
      ></p-avatar>
      <p-toggleswitch class="lg:inline-flex hidden" [(ngModel)]="checked">
        <ng-template #handle let-checked="checked">
          <i [ngClass]="['!text-xs', 'pi', checked ? 'pi-moon' : 'pi-sun']"></i>
        </ng-template>
      </p-toggleswitch>
    </div>
  </ng-template>
</p-menubar>

<p-popover #profile>
  <ul class="list-none text-center">
    @for (option of options; track $index) {
    <li
      class="rounded cursor-pointer hover:!bg-surface-500 px-2 py-1"
      (click)="option.action()"
    >
      {{ option.name | translate }}
    </li>
    }
    <li class="rounded px-3 text-rose-500 cursor-pointer hover:bg-white hover:text-primary-contrast" (click)="sessionService.signOut()">{{ "nav.signOut" | translate }}</li>
  </ul>
</p-popover>
