<p-card>
  <div class="flex flex-col gap-4">
    <span class="text-5xl font-semibold">
      {{ project.name }}
    </span>
    <div class="flex flex-col gap-3">
      <div
        class="flex flex-col md:flex-row md:justify-between text-center gap-2"
      >
        <span class="text-2xl">{{ "activities" | translate }}</span>
        <div class="flex flex-row justify-end">
          <p-selectbutton
            [disabled]="project.tasks.length == 0"
            [options]="viewOptions"
            [(ngModel)]="viewMode"
            optionLabel="name"
            optionValue="value"
            aria-labelledby="basic"
          />
        </div>
      </div>
      @switch (viewMode) { @case ("list") {
      <app-list
        [taskObservable]="taskObservable"
        (addSubTaskAction)="openTaskDialog($event)"
        (changeStatus)="handleTaskEmitters($event, 'status')"
        (deleteAction)="handleTaskEmitters($event, 'delete')"
        (inputAction)="handleTaskEmitters($event, 'input')"
        (outputAction)="handleTaskEmitters($event, 'output')"
        (saveActions)="handleTaskEmitters($event, 'saveUpdated')"
        [updatedTasks]="updatedTasks"
        [isAuthor]="isAuthor"
      ></app-list>
      } @case ("gantt") {
      <app-gantt-chart [tasks]="tasks" [language]="lang"></app-gantt-chart>
      } @case ('addTask') {
      <app-add-task
        [taskFormGroup]="taskFormGroup"
        [members]="members"
        [tasks]="project.tasks"
        (confirmAction)="addTask()"
        [loading]="confirmLoading"
      ></app-add-task>
      } }
    </div>
    <div class="flex flex-col gap-3">
      <span class="text-2xl">
        {{ "membersManager" | translate }}
      </span>
      <app-profile-chip
        label="Leader:"
        [name]="project.author"
        [imageUrl]="getProfilePicture(project.author)"
      />
      <span>{{ "members" | translate }}:</span>
      <div class="flex flex-col md:flex-row gap-3">
        @for (member of project.members; track $index) {
        <app-profile-chip
          (click)="isAuthor ? openDeleteMemberPopup(member, $event) : undefined"
          class="cursor-pointer"
          [name]="member"
          [imageUrl]="getProfilePicture(member)"
        />
        }
      </div>
      @if(isAuthor){
      <div id="actions" class="flex flex-row justify-end">
        <p-button (click)="openDialog('addMember')"
          >{{ "addMember" | translate }} <i class="pi pi-plus"></i
        ></p-button>
      </div>
      }
    </div>
  </div>
  @if(isAuthor){
  <div class="flex flex-row mt-2 justify-center w-full">
    <p-button
      text="true"
      severity="danger"
      [fluid]="true"
      (click)="openDeleteProjectDialog($event)"
    >
      {{ "delete" | translate }}
    </p-button>
  </div>
  }
</p-card>

<p-confirmdialog />
<p-toast />
<p-dialog
  resizable="false"
  #addMemberDialog
  modal="true"
  [(visible)]="addMemberVisible"
  [header]="'addMember' | translate"
>
  <div class="flex flex-col gap-3 justify-center">
    <p-inputgroup>
      <p-inputgroup-addon>
        <i class="pi pi-user"></i>
      </p-inputgroup-addon>
      <input
        (keyup.enter)="searchNewMember(addMemberValue.value)"
        pInputText
        #addMemberValue
        [placeholder]="'searchNewMember' | translate"
      />
      <p-inputgroup-addon>
        <p-button
          (click)="searchNewMember(addMemberValue.value)"
          icon="pi pi-search"
          severity="secondary"
          variant="text"
        />
      </p-inputgroup-addon>
    </p-inputgroup>
    @if (userList.length > 0) {
    <p-listbox
      #listboxValue
      [(ngModel)]="selectedMembers"
      [options]="userList"
      [multiple]="true"
      [checkbox]="true"
      class="w-full"
    />
    }
    <div class="flex flex-row gap-3 justify-end">
      <p-button [loading]="loading" (click)="addMembers()">{{
        "confirmBtn" | translate
      }}</p-button>
      <p-button
        [disabled]="loading"
        severity="danger"
        (click)="closeDialog()"
        >{{ "close" | translate }}</p-button
      >
    </div>
  </div>
</p-dialog>

<p-dialog
  resizable="false"
  modal="true"
  [(visible)]="addTaskDialog"
  [header]="'addTask' | translate"
>
  <app-add-task
    [taskFormGroup]="taskFormGroup"
    [members]="members"
    [tasks]="project.tasks"
    (confirmAction)="addTask()"
    [loading]="confirmLoading"
  ></app-add-task>
</p-dialog>

@if (inputValue) {
<p-dialog
  resizable="false"
  [modal]="true"
  [(visible)]="isInputVisible"
  [header]="'enterInput' | translate"
>
  <textarea
    [(ngModel)]="inputValue!.value"
    pTextarea
    cols="30"
    rows="5"
  ></textarea>
  <div class="flex flex-row justify-end gap-3">
    <p-button (onClick)="saveInput()">{{ "save" | translate }}</p-button>
    <p-button (onClick)="isInputVisible = false" severity="danger">{{
      "close" | translate
    }}</p-button>
  </div>
</p-dialog>
} @if (outputValue) {
<p-dialog
  resizable="false"
  [modal]="true"
  [(visible)]="isOutputVisible"
  [header]="'enterOutput' | translate"
>
  <textarea
    [(ngModel)]="outputValue.value"
    pTextarea
    cols="30"
    rows="5"
  ></textarea>
  <div class="flex flex-row justify-end gap-3">
    <p-button (onClick)="saveOutput()">{{ "save" | translate }}</p-button>
    <p-button (onClick)="isOutputVisible = false" severity="danger">{{
      "close" | translate
    }}</p-button>
  </div>
</p-dialog>
}
