<div class="mx-auto lg:w-8">
  <p-card class="shadow border-round lg:w-6">
    <ng-template #header>
      <div class="text-900 text-3xl text-center pt-3">
        {{ "reset.title" | translate }}
      </div>
      <div class="text-900 text-center py-3">
        {{ "reset.backLogin" | translate }}
        <a class="underline hover:!text-primary text-900" routerLink="/login" href="">{{
          "reset.clickHere" | translate
        }}</a>
      </div>
      <form [formGroup]="form">
        <div class="px-5">
          <label for="email1" class="block text-900 font-medium mb-2">
            Email
          </label>
          <input
            formControlName="email"
            id="email1"
            type="text"
            placeholder="Email address"
            pInputText
            class="w-full mb-3"
          />

          <label for="oldPassword" class="block text-900 font-medium mb-2">
            {{ "reset.oldPassword" | translate }}
          </label>
          <p-password
            formControlName="oldPassword"
            id="oldPassword"
            type="password"
            [placeholder]="'reset.oldPassword' | translate"
            styleClass="mb-3"
            feedback="false"
            fluid="true"
            [toggleMask]="true"
          />

          <label for="newPassword" class="block text-900 font-medium mb-2">
            {{ "reset.newPassword" | translate }}
          </label>
          <p-password
            formControlName="newPassword"
            id="newPassword"
            type="password"
            [placeholder]="'reset.newPassword' | translate"
            mediumRegex="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^a-zA-Z0-9])(?=.{8,})"
            strongRegex="^(?=(.*[a-z]){2,})(?=(.*[A-Z]){2,})(?=(.*[0-9]){2,})(?=(.*[^a-zA-Z0-9]){2,})(?=.{12,})(?!.*(1234|password|qwerty|abc)).*"
            styleClass="mb-3"
            fluid="true"
            [toggleMask]="true"
          >
            <ng-template #header>
              <div class="font-semibold text-xm mb-4">
                {{ "register.pickPassword" | translate }}
              </div>
            </ng-template>
            <ng-template #footer>
              <p-divider />
              <ul class="pl-2 ml-2 my-0 leading-normal">
                <li
                  [class]="
                    getPasswordErrors('newPassword', 'lowercase')
                      ? '!text-primary-500'
                      : isPasswordFieldPristine('newPassword')
                      ? ''
                      : '!text-rose-500'
                  "
                >
                  {{ "register.atLeastOneLowerCase" | translate }}
                </li>
                <li
                  [class]="
                    getPasswordErrors('newPassword', 'uppercase')
                      ? '!text-primary-500'
                      : isPasswordFieldPristine('newPassword')
                      ? ''
                      : '!text-rose-500'
                  "
                >
                  {{ "register.atLeastOneUpperCase" | translate }}
                </li>
                <li
                  [class]="
                    getPasswordErrors('newPassword', 'numeric')
                      ? '!text-primary-500'
                      : isPasswordFieldPristine('newPassword')
                      ? ''
                      : '!text-rose-500'
                  "
                >
                  {{ "register.atLeastOneNumber" | translate }}
                </li>
                <li
                  [class]="
                    getPasswordErrors('newPassword', 'special')
                      ? '!text-primary-500'
                      : isPasswordFieldPristine('newPassword')
                      ? ''
                      : '!text-rose-500'
                  "
                >
                  {{ "register.atLeastOneSpecial" | translate }} ({{ "@" }}.!,-)
                </li>
                <li
                  [class]="
                    getPasswordErrors('newPassword', 'minimum')
                      ? '!text-primary-500'
                      : isPasswordFieldPristine('newPassword')
                      ? ''
                      : '!text-rose-500'
                  "
                >
                  {{ "register.atLeast8Chars" | translate }}
                </li>
              </ul>
            </ng-template>
          </p-password>

          <label
            for="confirmNewPassword"
            class="block text-900 font-medium mb-2"
          >
            {{ "reset.confirmNewPassword" | translate }}
          </label>
          <p-password
            formControlName="confirmNewPassword"
            id="confirmNewPassword"
            type="password"
            [placeholder]="'reset.confirmNewPassword' | translate"
            styleClass="mb-3"
            feedback="false"
            fluid="true"
            [toggleMask]="true"
          />
          <button
            [disabled]="form.invalid"
            [loading]="loading"
            pButton
            [label]="'reset.confirmButton' | translate"
            icon="pi pi-user-edit"
            class="w-full rounded mt-4"
          ></button>
        </div>
      </form>
    </ng-template>
  </p-card>
</div>
