::ng-deep #calendar > .p-panel-header{
  padding: 0 !important;
}
/* bottoni full calendar */
::ng-deep .fc-button {
  transition: background-color 0.3s ease;
  background-color: var(--p-primary-700) !important;
  border-color: var(--p-primary-600) !important;
  box-shadow: none !important;
  height: fit-content;
}
::ng-deep .fc-button:hover{
  background-color: var(--p-primary-500) !important;
}

/* Celle giorni */
::ng-deep .fc-daygrid-day-number {
  font-size: 1.125rem !important;
  font-weight: bold !important;
}
::ng-deep .fc-daygrid-day {
  transition: background-color 0.3s ease;
  font-weight: 500;
  cursor: pointer;
  height: 3.125rem;
}
/* Hover sulle celle */
::ng-deep .fc-daygrid-day:hover {
  background-color: var(--p-surface-400);
  color: var(--p-light-900);
}

/* Celle di giorni specifici */
::ng-deep .fc-day-today {
background-color: var(--p-primary-700) !important;
color: var(--p-surface-900);
}
::ng-deep .fc-day-today:hover {
background-color: var(--p-primary-500) !important;
}

/* Eventi */
::ng-deep .fc-event {
line-height: 0.938rem !important;
line-break: 0rem;
}

/* Popover */
::ng-deep .fc-popover-body .fc-event {
height: fit-content !important;
}
::ng-deep .fc-popover {
background-color: var(--p-primary-700) !important;
color: var(--p-surface-900) !important;
height: fit-content !important;
}

/* stile titolo del popover */
::ng-deep .fc-popover-header {
background: var(--p-primary-500) !important;
color: var(--p-surface-900) !important;
height: fit-content !important;
}

/* stile lista eventi popover */
::ng-deep .fc-popover-body {
background: var(--p-primary-500) !important;
}
::ng-deep .form-group { /*aggiungi*/
  padding: 0.5rem !important;
}
@media (max-width: 48rem) {
  ::ng-deep .fc { /*il calendario ha meno padding nella box*/
    padding: 0rem !important;
    margin: 0rem !important;
  }
  /*toolbar*/
  ::ng-deep .fc-header-toolbar {
    margin: 0.25rem !important;
  }
  /* giorni*/
  ::ng-deep .fc-daygrid-day {
    height: 1.063rem !important;
  }
  ::ng-deep .fc-daygrid-day-number {
    font-size: 0.75rem !important;
    font-weight: bold !important;
  }
  ::ng-deep .fc-event {
    font-size: 0.4rem !important;
    line-height: 0.9rem !important;
    padding: 0.1rem 0.2rem !important;
    margin: 0.1rem 0 !important;
    min-height: unset !important;
    max-height: 1.5rem !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
  }

  ::ng-deep .fc-toolbar-chunk {
    margin: 0 0.938rem !important;
  }
  ::ng-deep .fc-button-group {
    margin-bottom: 0.313rem;
   }
  ::ng-deep .fc-toolbar button {
    font-size: 0.938rem !important;
  }
  ::ng-deep .fc-toolbar-title {
    font-size: 1.563rem !important;
  }
  
}



.study-session-icon {
  position: absolute;
  bottom: 2px;
  right: 2px;
  cursor: pointer;
  font-size: 12px;
  background-color: #99ff63;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  transition: transform 0.2s;
}

.study-session-icon:hover {
  transform: scale(1.2);
}

.fc-day:hover .study-session-icon {
  background-color: #77dd44;
}