<p-panel id="calendar" class="w-full">
    <ng-template #header>
        <div class="md:px-4 md:pb-3 w-full">
            <full-calendar  [options]="calendarOptions" class="h-full">
                <ng-template #eventContent let-arg>
                    <span class="w-full !text-left px-2 !text-nowrap">
                        <h3 class="font-semibold  text-xl truncate">{{arg.title}} </h3>
                        <p class="truncate">{{'Laboratorio ercolani'}}</p>
                    </span>
                  </ng-template>
            </full-calendar>
        </div>
    </ng-template>
</p-panel>