<div class="mx-5">
  <p-card>
    <ng-template #header>
      <div class="flex flex-col gap-4 w-full pt-4 items-center justify-center">
        <p-avatar
          [style]="{ width: '8rem', height: '8rem', 'font-size': '5rem', 'object-fit': 'inherit', 'object-position': 'center' }"
          [label]="imageUrl ? undefined : user.firstName.substring(0, 1)"
          shape="circle"
          [image]="imageUrl"
          styleClass="cursor-pointer !object-cover "
          (click)="fileInput.click()"
          [pTooltip]="'profile.selectProfilePicture' | translate"
        />
        <!-- Hidden Input to upload profile picture -->
        <input
          accept="image/*"
          type="file"
          #fileInput
          (change)="onFileChange($event)"
          style="display: none"
        />

        <div class="gap-3 flex px-2 flex-col">
          <div class="text-900 font-medium text-lg text-center">
            {{ "profile.userDetails" | translate }}
          </div>
          @for (item of fields; track $index) {
          <p-inputgroup>
            <p-inputgroup-addon>
              <i [class]="item.icon"></i>
            </p-inputgroup-addon>
            <input
              [id]="item.field"
              type="text"
              pInputText
              readonly
              [value]="item.value"
            />
          </p-inputgroup>
          }

          <div class="text-900 font-medium text-lg text-center">
            {{ "profile.passwordSettings" | translate }}
          </div>

          <p-inputgroup>
            <p-inputgroup-addon>
              <i class="pi pi-lock"></i>
            </p-inputgroup-addon>
            <input readonly pInputText type="password" value="************" />
          </p-inputgroup>
          <button routerLink="/reset-password" pButton styleClass="w-full">
            {{ "profile.editPassword" | translate }}
            <i class="pi pi-pencil"></i>
          </button>

          <div class="text-900 font-medium text-lg text-center">
            {{ "profile.preferences" | translate }}
          </div>

          <!-- Seleziona lingua -->
          <p-select
            dropdownIcon="pi pi-language"
            (onChange)="changeLang(selectedLang!.lang)"
            [(ngModel)]="selectedLang"
            [options]="languages"
          >
            <ng-template #selectedItem let-selectedOption>
              <div class="flex items-center gap-2">
                <span>{{ selectedOption.flag }}</span>
                <div>{{ selectedOption.lang | translate }}</div>
              </div>
            </ng-template>
            <ng-template let-country #item>
              <div class="flex items-center gap-2">
                <span>{{ country.flag }}</span>
                <div>{{ country.lang | translate }}</div>
              </div>
            </ng-template>
          </p-select>

          <!-- Seleziona tema -->
          <p-select
            dropdownIcon="pi pi-palette"
            (onChange)="setTheme($event)"
            [(ngModel)]="selectedTheme"
            [options]="themes"
          >
            <ng-template #selectedItem let-selectedOption>
              <div class="flex items-center gap-2">
                <i [class]="selectedOption.icon"></i>
                <div>{{ selectedOption.value | translate }}</div>
              </div>
            </ng-template>
            <ng-template let-theme #item>
              <div class="flex items-center gap-2">
                <i [class]="theme.icon"></i>
                <div>{{ theme.value | translate }}</div>
              </div>
            </ng-template>
          </p-select>

          <!-- Logout -->
          <p-button
            (onClick)="signOut()"
            fluid="true"
            severity="danger"
            variant="text"
            >Log out</p-button
          >

          <!-- Delete account -->
          <p-confirm-dialog />
          <p-button
            (onClick)="openDeleteDialog($event)"
            fluid="true"
            severity="danger"
            >{{'profile.delete' | translate}}</p-button
          >
        </div>
      </div>
    </ng-template>
  </p-card>
</div>
