<div class="w-full flex flex-col">
  <app-calendar [title]="'home.cal' | translate"></app-calendar>
  <!--qui-->
</div>
<div class="mx-3 flex flex-col gap-5 mt-4">
  <div class="grid grid-cols-2 md:grid-cols-3 gap-2">
    <div class="w-full">
      <app-event-list
        [title]="'home.today' | translate"
        [loading]="loading"
        [emptyLabel]="'home.noTodayEvents' | translate"
        [content]="todayEvents"
      />
    </div>
    <div class="w-full">
      <app-event-list
        [title]="'home.deadlines' | translate"
        [loading]="loading"
        [emptyLabel]="'home.noEvents' | translate"
        [content]="deadlineEvents"
        dateFormat="date"
      />
    </div>
    <div class="col-span-2 md:col-span-1">
      <app-event-list
        [title]="'home.notes' | translate"
        [loading]="loading"
        [emptyLabel]="'home.noNotes' | translate"
        [content]="recentNotes"
        dateFormat="date"
      />
    </div>
  </div>
</div>

@if(notificationDialog){
<p-dialog
  [modal]="true"
  [(visible)]="isNotificationVisible"
  [closeIconTemplate]=""
  position="top"
  [header]="notificationDialog.title"
  [title]="notificationDialog!.title"
  (onHide)="notificationDialog.onclose()"
  [style]="{ width: '25rem' }"
>
  <div class="flex flex-col gap-2">
    <span class="text-center"
      >{{'expiresToday' | translate}}</span
    >
    @if (notificationDialog.description) {

    <span class="text-center">{{ notificationDialog.description }}</span>
    }
  </div>

  <ng-template #footer>
    <div class="flex flex-row gap-2 justify-end">
      <p-button text severity="danger" (onClick)="isNotificationVisible = false">{{'close' | translate}}</p-button>
      <p-button text (onClick)="notificationDialog.onsnooze()">{{'remindLater' | translate}}</p-button>
    </div>
  </ng-template>
</p-dialog>
}
