<p-card>
    <div class="w-full flex flex-wrap md:flex-nowrap items-center justify-center gap-2 py-51" [ngClass]="{'flex-col': screenWidth < 1089, 'flex-row': screenWidth >= 1090}">
        <div class="w-full md:w-5/12 flex flex-col items-center justify-center gap-2">
            <div class="flex items-end gap-5 ml-auto md:ml-0 md:self-end">
            <div *ngIf="!studyCicle">
                <p-button (click)="this.studyCicle=true" [style]="{ height: '1.5rem' }"> {{ "pomodoro.openStudy" | translate}} </p-button>
            </div>
                <p-button (click)="showDialog()" icon="pi pi-cog" ></p-button>
                <p-button (click)="showCicles()" icon="pi pi-calendar"></p-button>
  
            </div>
            <p-dialog header="SETTINGS" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
                <div class="flex flex-col items-top justify-center gap-3">
                    <p>{{"pomodoro.settings" | translate }}</p> <br>
                    <p *ngIf="studyCicle === true"> {{"pomodoro.noModify" | translate}} </p>

                    <div class="flex items-center gap-4 mb-4">
                        <label for="shortBreak" class="font-semibold w-24">Pomodoro</label>
                        <p-inputNumber id="pomodoro" [(ngModel)]="pomodoroVisuale" [min]="1" [max]="120"></p-inputNumber>
                    </div>
                    <div class="flex items-center gap-4 mb-4">
                        <label for="shortBreak" class="font-semibold w-24">{{"pomodoro.shortBreak" | translate }}</label>
                        <p-inputNumber id="longBreak" [(ngModel)]="shortBreakVisuale" [min]="1" [max]="20"></p-inputNumber>
                    </div>
                    <div class="flex items-center gap-4 mb-4">
                        <label for="longBreak" class="font-semibold w-24">{{"pomodoro.longBreak" | translate }}</label>
                        <p-inputNumber id="longBreak" [(ngModel)]="longBreakVisuale" [min]="1" [max]="40"></p-inputNumber>
                    </div>
                    <p>{{"pomodoro.otherOptions" | translate }}</p>
                    <div class="flex items-center gap-4 mb-4">
                        <label for="longBreakInterval" class="font-semibold w-24">{{"pomodoro.intervals" | translate }}</label>
                        <p-inputNumber id="longBreakInterval" [(ngModel)]="pomodoro.longBreakInterval" [min]="1"></p-inputNumber>
                    </div>
                    <p-button label="{{'pomodoro.save' | translate }}" (click)="saveSettings()"></p-button>
                    <p-button label="{{'pomodoro.resetTimer' | translate }}" (click)="resetTimer()"></p-button>
                    
                </div>
            </p-dialog>

            <p-dialog header="{{'pomodoro.cicles' | translate}}" [modal]="true" [(visible)]="visibleCicle" >
                <div class="flex flex-col items-top justify-center gap-3">
                    <div class="flex items-center gap-4 mb-4">
                        <label class="font-semibold w-24">{{ "pomodoro.howManyHours" | translate}}</label>
                        <p-inputNumber id="ciclesInput" [min]="1" [max]="20" placeholder="2" [(ngModel)]="ciclesInput" (onInput)="ciclesInput = ciclesInput > 20 ? 20 : ciclesInput"></p-inputNumber>
                    </div>
                    <div class="flex items-center gap-4 mb-4">
                        <label class="font-semibold w-24">{{ "pomodoro.repeat" | translate}}</label> <br>
                        <label for="yes" class="font-semibold">{{ 'pomodoro.yes' | translate}}</label>
                        <p-radiobutton value="yes" [(ngModel)]="ripeti" inputId="yes"></p-radiobutton>

                    </div>
                    <div *ngIf="ripeti === 'yes'" >
                        <div class="flex flex-wrap gap-2 mb-4">
                    <p-button *ngFor="let day of days"
                                [label]="day"
                                (click)="toggleDay(day)"
                                [styleClass]="selectedDays.includes(day) ? 'p-button-primary day-btn' : 'p-button-outlined day-btn'">
                    </p-button>
                    </div>
                    <div class="form-group">
                    <p-iftalabel>
                        <p-datepicker [(ngModel)]="endDate" inputId="end_date" showIcon iconDisplay="input" />
                        <label for="end_date">{{ 'event.enddate' | translate }}</label>
                    </p-iftalabel>
                
                    </div>
                    </div>
                    <p-button label="{{'pomodoro.save' | translate }}" (click)="saveCicles()"></p-button>
                    <p-button label="{{'pomodoro.handleCycle' | translate}}" (click)="openCycleSettings()"></p-button>

                </div>

            </p-dialog>      

            <p-dialog  header="{{'pomodoro.handleCycle' | translate}}" [modal]="true" [(visible)]="visibleCycleSettings" >
                <p-table [value]="allDays" *ngIf="allDays?.length">
                <ng-template pTemplate="header">
                    <tr>
                    <th>{{ 'pomodoro.day' | translate }}</th>
                    <th>{{ 'pomodoro.duration' | translate }}</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-row let-i="rowIndex">
                    <tr>
                    <td>{{ row.day | date:'dd/MM/yyyy' }}</td>
                    <td>{{ row.totalTime }} {{ "pomodoro.minutes" | translate }}</td>
                    <td>
                        <button pbutton icon="pi pi-trash"
                                class="trash-button"
                                [style]="{ height: '2.6rem', width: '2.6rem', 'margin-left':'0.6rem'}"
                                (click)="removeCycle(i)">
                        <a class="pi pi-trash"></a></button>
                    </td>
                    </tr>
                </ng-template>
                </p-table>

                <p *ngIf="!fullPlans?.length">{{ 'pomodoro.noPlannedDays' | translate }}</p>

            </p-dialog>
        


            <div class="grid grid-cols-2 gap-4">  

            <div *ngIf="studyCicle ">
                <div ><p> {{ "pomodoro.todayStudy" | translate}} </p> <p-button (click)="this.studyCicle=false" [style]="{ height: '1.5rem' }"> {{ "pomodoro.closeStudy" | translate}} </p-button> </div>
                    <p-table [value]="steps" [paginator]="false" class="w-full" size="small" scrollHeight="20rem" id="stepsTable" [paginator]="true" [rows]="7" >
                        
                        <ng-template #header>
                            
                            <tr>
                                <th>{{ "pomodoro.type" | translate}}</th>
                                <th>{{ "pomodoro.duration" | translate}}</th>
                                <th>  </th>
                            </tr>
                        </ng-template>
                        <ng-template  pTemplate="body" let-step let-rowIndex="rowIndex">
                            <tr>
                                <td>
                                    <span class="flex items-center gap-2">
                                        <p-message 
                                            *ngIf="step"
                                            [severity]="
                                                step.type === 'pomodoro' 
                                                ? 'error' 
                                                : (step.type === 'shortBreak' ? 'info' : 'warn')
                                            " 
                                            [variant]="rowIndex < plan.days[dayIndex].step ? undefined : 'outlined'"
                                            [text]="step.type"
                                            styleClass="thin-message">
                                            </p-message>

                                    </span>
                                </td>
                                <td>{{ step.duration }}</td>
                                <td>
                                    <ng-container *ngIf="(plan?.days?.[dayIndex]?.step ?? 0) > rowIndex; else hourglass">
                                        <i class="pi pi-check" ></i>
                                    </ng-container>
                                    <ng-template #hourglass>
                                        <i class="pi pi-hourglass"></i>
                                    </ng-template>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>  
            <div class="flex flex-col items-center justify-center" [formGroup]="formGroup">
        
        
                <div class="animated-text" style="margin-bottom: 1rem;">
                    <p *ngIf="pomodoro.pomodoroType === 'pomodoro'" 
                       [@fadeInOut] 
                       class="tracking-in-expand" 
                       >
                        Pomodoro
                    </p>
                    <p *ngIf="pomodoro.pomodoroType === 'shortBreak'" 
                       [@fadeInOut] 
                       class="tracking-in-expand whitespace-nowrap" 
                       >
                        {{ 'pomodoro.shortBreak' | translate }}
                    </p>
                    <p *ngIf="pomodoro.pomodoroType === 'longBreak'" 
                       [@fadeInOut] 
                       class="tracking-in-expand whitespace-nowrap" 
                       >
                        {{ 'pomodoro.longBreak' | translate }}
                    </p>
                </div>

                <p-toast/>


                <p-knob formControlName="timer" [readonly]="true" [max]="knobTIME" [valueTemplate]="formattedTimer" />
                <p>#{{ pomodoro.pomodoroNumber }}</p>
                <div class="flex items-center gap-2">
                    <p-button [label]="startStop" [style]="{ height: '2.5rem' }" (click)="clickButton()" />
                    <p-button icon="pi pi-play" [style]="{ height: '2.5rem' }" (click)="skipTimer()"></p-button>
                </div></div>
                </div>
            
            <p-button label="{{'pomodoro.endSession' | translate}}" [style]="{ height: '2.5rem', marginTop: '3rem' }" (click)="endSession()"></p-button>
            
            <div class="flex items-center gap-2">
                
                <p-table [value]="pomodoroHistory" dataKey="id" [tableStyle]="{ 'max-width': '40rem'}">
                    <ng-template #header>
                        <tr>
                            <th style="width: 10rem"> {{ 'pomodoro.numberPomodoroCompleted' | translate }}</th>
                            <th style="width: 10rem"> {{ 'pomodoro.numbertaskCompleted' | translate }}</th>
                            <th style="width: 10rem"> {{ 'pomodoro.dateCompleted' | translate }}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-history let-rowIndex="rowIndex">
                        <tr>
                            <td>{{ history.pomodoroNumber }}</td>
                            <td>{{ history.taskCompleted }}</td>
                            <td>{{ history.date}} </td>
                            <p-button icon="pi pi-trash" [style]="{ 'height': '2.6rem', 'width': '2.6rem', 'margin-left':'0.6rem'}" (click)="removeSession(rowIndex)"></p-button>
                        </tr>
                    </ng-template>
                    
                </p-table>
            </div>
        </div>
        <div class="w-full md:w-5/12 flex flex-col items-center justify-start gap-3 pt-3 md:pt-0 md:pl-3">
            <div class="flex flex-col items-start justify-center gap-3">
                <div class="task-input">
                    <input type="text" pInputText [(ngModel)]="newTaskName" placeholder="{{'pomodoro.taskName' | translate }}"/>
                    <p-button label="{{'pomodoro.addTask' | translate }}" (click)="addTask()"></p-button>
                </div>

                    <p-table [value]="tasks" dataKey="id" [tableStyle]="{ 'max-width': '40rem'}">
                        <ng-template #header>
                            <tr>
                                <th style="width:3rem"></th>
                                <th style="width: 15rem">{{"pomodoro.nameTask" | translate }}</th>
                                <th>{{"pomodoro.statusTask" | translate }}</th>
                                <th>{{"pomodoro.actionsTask" | translate }}</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-task let-index="rowIndex" let-editing="editing">
                            <tr [pReorderableRow]="index">
                                <td>
                                    <span class="pi pi-bars" pReorderableRowHandle></span>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input
                                                pInputText
                                                type="text"
                                                [(ngModel)]="task.name"
                                                (ngModelChange)="onTaskNameEdit(task.id, $event)"
                                                required />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <div style="max-width: 15rem; word-wrap: break-word;">
                                                {{ task.name }}
                                            </div>
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>{{ task.completed ? ("pomodoro.completedTask" | translate) : ("pomodoro.pendingTask" | translate) }}</td>
                                <td>
                                    <div class="flex items-center gap-2">
                                        <p-button label="{{'pomodoro.completeTask' | translate }}" (click)="completeTask(index)" *ngIf="!task.completed"></p-button>
                                        <p-button icon="pi pi-trash" [style]="{ 'height': '2.6rem', 'width': '2.6rem', 'margin-left':'0.6rem'}" (click)="removeTask(index)"></p-button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
        </div>
    </div>
</p-card>