<p-card>
    <div class="flex items-center justify-center" [ngClass]="{'flex-col': screenWidth < 1023, 'flex-row': screenWidth >= 1024}">
        <div class="container" style="flex: 0 0 30rem; align-self: flex-start;">
            <p-tree 
                [value]="files" 
                selectionMode="single" 
                styleClass="md:w-[30rem]" 
                [filter]="true" 
                filterPlaceholder="Lenient Filter" 
                [(selection)]="selectedFiles" 
                [draggableNodes]="true" 
                [droppableNodes]="true" 
                draggableScope="self" 
                droppableScope="self" 
                (onNodeSelect)="openNote($event)">

            
            </p-tree>
            
            <div class="flex flex-col items-center justify-center">
                <input type="text" pInputText [(ngModel)]="value">    
                <p-buttongroup [style]="{'margin': '1rem', 'height': '2.6rem'}">
                    <p-button label="{{'note.newFolder' | translate}}" (click)="addFolder()"></p-button>
                    <p-button label="{{'note.newNote' | translate}}" (click)="addNote()"></p-button>
                    <p-button icon="pi pi-trash" (click)="deleteNote()"></p-button>
                </p-buttongroup>
            </div>
        

    </div>
    <div class="container">
        <p-editor [(ngModel)]="text" [style]="{ height: '50vh' }" *ngIf="selectedNote?.type !== 'folder'" [readonly]="false"></p-editor>
        <p-editor [ngModel]="'note.folderSelected' | translate" [style]="{ height: '50vh' }" *ngIf="selectedNote?.type === 'folder' " [readonly]="true"></p-editor>

        <p-button label="Salva" (click)="saveNote()"></p-button>
    </div>
    </div>

</p-card>