<div class="mx-auto lg:w-8">
  <p-card class="shadow border-round lg:w-6">
    <ng-template #header>
      <form (ngSubmit)="submit()" [formGroup]="form">
        <div class="text-center p-5 mb-1">
          <div class="text-900 text-3xl font-medium mb-2">
            {{ "register.welcome" | translate }} SELFIE!
          </div>
          <span class="text-600 font-medium line-height-3">
            {{ "register.redirectLogin" | translate }}?
          </span>
          <a
            routerLink="/login"
            class="font-medium ml-2 underline cursor-pointer"
          >
            {{ "register.signIn" | translate }}!
          </a>
        </div>

        <div class="px-5">
          <label for="firstname" class="block text-900 font-medium mb-2">
            {{ "register.firstName" | translate }}
          </label>
          <p-inputgroup styleClass="mb-3">
            <p-inputgroup-addon>
              <i class="pi pi-user"></i>
            </p-inputgroup-addon>
            <input
              formControlName="firstName"
              id="firstname"
              type="text"
              [placeholder]="'register.firstName' | translate"
              pInputText
              class="w-full"
            />
          </p-inputgroup>

          <label for="lastname" class="block text-900 font-medium mb-2">
            {{ "register.lastName" | translate }}
          </label>
          <p-inputgroup styleClass="mb-3">
            <p-inputgroup-addon>
              <i class="pi pi-user"></i>
            </p-inputgroup-addon>
            <input
              formControlName="lastName"
              id="lastname"
              type="text"
              [placeholder]="'register.lastName' | translate"
              pInputText
              class="w-full"
            />
          </p-inputgroup>

          <label for="email" class="block text-900 font-medium mb-2">
            Email
          </label>
          <p-inputgroup styleClass="mb-3">
            <p-inputgroup-addon>
              <i class="pi pi-at"></i>
            </p-inputgroup-addon>
            <input
              formControlName="email"
              id="email"
              type="text"
              placeholder="Email address"
              pInputText
              class="w-full"
            />
          </p-inputgroup>

          <label for="phoneNumber" class="block text-900 font-medium mb-2">
            {{ "register.phoneNumber" | translate }}
          </label>
          <p-inputgroup styleClass="mb-3">
            <p-inputgroup-addon>
              <i class="pi pi-phone"></i>
            </p-inputgroup-addon>
            <input
              formControlName="phoneNumber"
              id="phoneNumber"
              type="text"
              placeholder="000 000000"
              pKeyFilter="int"
              pInputText
            />
          </p-inputgroup>

          <label for="password" class="block text-900 font-medium mb-2">
            Password
          </label>
          <p-password
            formControlName="password"
            id="password"
            type="password"
            placeholder="Password"
            mediumRegex="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^a-zA-Z0-9])(?=.{8,})"
            strongRegex="^(?=(.*[a-z]){2,})(?=(.*[A-Z]){2,})(?=(.*[0-9]){2,})(?=(.*[^a-zA-Z0-9]){2,})(?=.{12,})(?!.*(1234|password|qwerty|abc)).*"
            styleClass="mb-3"
            fluid="true"
            [toggleMask]="true"
          >
            <ng-template #header>
              <div class="font-semibold text-xm mb-4">{{'register.pickPassword' | translate}}</div>
            </ng-template>
            <ng-template #footer>
              <p-divider />
              <ul class="pl-2 ml-2 my-0 leading-normal">
                <li [class]="getPasswordErrors('lowercase') ? '!text-primary-500' : isPasswordFieldPristine() ? '' : '!text-rose-500'">{{'register.atLeastOneLowerCase' | translate}}</li>
                <li [class]="getPasswordErrors('uppercase') ? '!text-primary-500' : isPasswordFieldPristine() ? '' : '!text-rose-500'">{{'register.atLeastOneUpperCase' | translate}}</li>
                <li [class]="getPasswordErrors('numeric') ? '!text-primary-500' : isPasswordFieldPristine() ? '' :  '!text-rose-500'">{{'register.atLeastOneNumber' | translate}}</li>
                <li [class]="getPasswordErrors('special') ? '!text-primary-500' : isPasswordFieldPristine() ? '' : '!text-rose-500'">{{'register.atLeastOneSpecial' | translate}} ({{'@'}}.!,-)</li>
                <li [class]="getPasswordErrors('minimum') ? '!text-primary-500' : isPasswordFieldPristine() ? '' : '!text-rose-500'">{{'register.atLeast8Chars' | translate}}</li>
              </ul>
            </ng-template>
          </p-password>

          <label for="password" class="block text-900 font-medium mb-2">
            {{ "register.confirmPassword" | translate }}
          </label>
          <p-password
            formControlName="confirmPassword"
            id="confirmPassword"
            type="password"
            [placeholder]="'register.confirmPassword' | translate"
            styleClass="mb-3"
            feedback="false"
            fluid="true"
            toggleMask="true"
          />

          <div class="flex align-items-center justify-content-between mb-6">
            <div class="flex align-items-center">
              <p-checkbox
                formControlName="gdpr"
                id="gdpr"
                [binary]="true"
                styleClass="mr-2"
              ></p-checkbox>
              <label for="gdpr" class="text-sm">
                {{ "register.gdpr" | translate }}
              </label>
            </div>
          </div>

          <button
            pButton
            [disabled]="form.invalid"
            [label]="'register.signUp' | translate"
            icon="pi pi-user"
            class="w-full rounded"
          ></button>
        </div>
      </form>
    </ng-template>
  </p-card>
</div>
